# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# IDE files
*.depend
*.layout
*.cbp
compile_commands.json
.cache
.vscode
.vs
*.sh

# Wii U build files
build/
bin/fs/code/*.elf
bin/fs/code/*.rpx

# Windows build files
bin/*.exe
bin/*.dll

# Linux build files
*.make
bin/Miyamoto-Next
bin/Miyamoto-Next-Debug
!Cafe.make
Makefile

# Test files
bin/fs/content/game/
bin/fs/content/shaders/agl_shader_temp_out.*
