# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# IDE files
*.depend
*.layout
*.cbp
compile_commands.json
.cache
.vscode
.vs
*.sh
*.sln
*.vcxproj*
.zed

# Generic build files
Makefile

# Wii U build files
build/
bin/fs/code/*.elf
bin/fs/code/*.rpx

# Windows build files
bin/*.exe
bin/*.dll
bin/*.pdb

# Linux build files
*.make
bin/Miyamoto-Next-Debug-x86
bin/Miyamoto-Next-Release-x86
bin/Miyamoto-Next-Debug-x86_64
bin/Miyamoto-Next-Release-x86_64

# Test files
bin/fs/content/game/
bin/fs/content/shaders/agl_shader_temp_out.*
