# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# CodeBlocks Project files
*.depend
*.layout
*.cbp

# Wii U build files
build/
bin/fs/code/*.elf
bin/fs/code/*.rpx

# Windows build files
bin/*.exe
bin/*.dll

# Test files
bin/fs/content/game/
bin/fs/content/shaders/agl_shader_temp_out.*
bin/fs/content/shaders/cache/
