name: Build (Windows)
on:
    push:
        branches: ["*"]
    pull_request:
        branches: ["*"]

jobs:
    build:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup MSYS2 (MINGW64)
              uses: msys2/setup-msys2@v2
              with:
                msystem: MINGW64
                update: true
                install: >
                  mingw-w64-x86_64-toolchain

            - name: Setup premake
              uses: abel0b/setup-premake@v2.4
              with:
                  version: "5.0.0-beta2"

            - name: Run premake
              run: premake5 gmake2

            - name: Compile (from MSYS2 bash)
              shell: bash -l {0}
              env:
                PKG_CONFIG_LIBDIR: /mingw64/lib/pkgconfig
              run: |
                make config=release verbose=true

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  path: ./bin/
