name: Build (Windows)
on:
    push:
        branches: ["*"]
    pull_request:
        branches: ["*"]

jobs:
    build:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup MSYS2
              uses: msys2/setup-msys2@v2
              with:
                  msystem: MINGW32
                  update: true
                  install: >
                      mingw-w64-i686-toolchain
                      make

            - name: Setup premake
              uses: abel0b/setup-premake@v2.4
              with:
                  version: "5.0.0-beta2"

            - name: Run premake
              shell: msys2 {0}
              run: premake5 gmake2

            - name: Compile
              shell: msys2 {0}
              run: make -j4 config=release verbose=true

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  path: ./bin/
